---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=299&currency=CAD&metadata[purchase_id]=2&source=tok_visa_chargeDeclined&description=Charge+for+Ruby+Under+a+Microscope+%28Purchase+ID+2%29
    headers:
      Authorization:
      - Bearer sk_test_51NcuGcIINoXgG6TndiodSg6TbaE7MSa6x9UzO3li1JJGI53t5WbjbD5crQ2Fur1ZKPUNZnCDdwWD9u80GF44sG7l00nJRNTPP0
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
      Idempotency-Key:
      - 2023-12-17 08:21:19 -0500/2/2
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 2023-12-17 08:21:19 -0500/2/2
      Original-Request:
      - req_a6nyOLD4M7DdSu
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "charge": "ch_3OOKHTIINoXgG6Tn0NnmAcsv",
            "code": "card_declined",
            "decline_code": "generic_decline",
            "doc_url": "https://stripe.com/docs/error-codes/card-declined",
            "message": "Your card was declined.",
            "request_log_url": "https://dashboard.stripe.com/test/logs/req_a6nyOLD4M7DdSu?t=1702819279",
            "type": "card_error"
          }
        }
  recorded_at: Sun, 17 Dec 2023 13:21:20 GMT
recorded_with: VCR 6.2.0
