---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=299&currency=CAD&metadata[purchase_id]=1&source=tok_visa&description=Charge+for+Ruby+Under+a+Microscope+%28Purchase+ID+1%29
    headers:
      Authorization:
      - Bearer sk_test_51NcuGcIINoXgG6TndiodSg6TbaE7MSa6x9UzO3li1JJGI53t5WbjbD5crQ2Fur1ZKPUNZnCDdwWD9u80GF44sG7l00nJRNTPP0
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
      Idempotency-Key:
      - 2023-12-17 08:21:18 -0500/1/1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 2023-12-17 08:21:18 -0500/1/1
      Original-Request:
      - req_LC3Lg2T4fFvuc7
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3OOKHSIINoXgG6Tn0dxWoBCk",
          "object": "charge",
          "amount": 299,
          "amount_captured": 299,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": "txn_3OOKHSIINoXgG6Tn08wMfpI6",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "HASHNODE",
          "captured": true,
          "created": 1702819278,
          "currency": "cad",
          "customer": null,
          "description": "Charge for Ruby Under a Microscope (Purchase ID 1)",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase_id": "1"
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 21,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": null,
          "payment_method": "card_1OOKHSIINoXgG6TnjHubyFIA",
          "payment_method_details": {
            "card": {
              "amount_authorized": 299,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2024,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "DmlD2xVTvrhgyPNe",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "overcapture": {
                "maximum_amount_capturable": 299,
                "status": "unavailable"
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xTmN1R2NJSU5vWGdHNlRuKM_r-6sGMga9KkaYemo6LBZpaY2QcoePgO9NsEUbHrGa4kSf5jLlRCf39KRYRYFL4uVge5ljkHjztcjr",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_1OOKHSIINoXgG6TnjHubyFIA",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": null,
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2024,
            "fingerprint": "DmlD2xVTvrhgyPNe",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null,
            "wallet": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Sun, 17 Dec 2023 13:21:19 GMT
recorded_with: VCR 6.2.0
